@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END OF CSS RESET */


/* FONTS */
h1, h2 {
    font-family: 'Fredoka One', cursive;
    font-weight: bold;
    color: black;
    text-align: center;
}

h1 {
	font-size: 3rem;
	padding: 2rem;
}
h2 {
    font-size: 1.8rem;
}
/* END OF FONTS */


body {
	background-color: rgb(250, 215, 220);
	/* cursor: url("images/brush-black-18dp.svg"), auto */
}

.container {
    background-color: white;
    box-shadow: 0 0 10px 10px pink;
    width: 90%;
    margin: 0 auto;
}

/* COLOR PALETTE */
#palette {
	width: 100%;
	height: 8rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	border: 0.5rem solid white;
	box-sizing: border-box;
}

#palette div {
	width: 100%;
	height: 100%;
	/* box-sizing: border-box; */
}

#palette div:hover {
	box-shadow: inset 0 0 0 10px black;
}

#red {
	background-color: red;
}
#orange {
	background-color: orange;
}
#yellow {
	background-color: yellow;
}
#green {
	background-color: green;
}
#blue {
	background-color: blue;
}
#purple {
	background-color: purple;
}

.selected {
	box-shadow: inset 0 0 0 5px black;
}